
<section class="welcome_area p_120">
<div class="container">
<div class="row welcome_inner">
    <div class="col-lg-6">
        <div class="welcome_text">
            <h4>About Myself</h4>
            <p>
            I value simple content structure, clean design patterns, and thoughtful interactions.
            I like to code things from scratch, and enjoy bringing ideas to life in the browser.
            I genuinely care about people, and love helping fellow designers work on their craft.
            I have diverse set of skill ranging from HTML, CSS, Nodejs, Reactjs, Mongodb etc.
            I am very good at using Linux.
            </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="wel_item">
                        <i class="lnr lnr-database"></i>
                        <h4>$2.5M</h4>
                        <p>Total Donation</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wel_item">
                        <i class="lnr lnr-book"></i>
                        <h4>100</h4>
                        <p>Total Projects</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wel_item">
                        <i class="lnr lnr-users"></i>
                        <h4>200</h4>
                        <p>Total Volunteers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="tools_expert">
            <div class="skill_main">
                <div class="skill_item">
                    <h4>HTML <span class="counter">85</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>CSS <span class="counter">90</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Javascript <span class="counter">70</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Node js <span class="counter">95</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Express js <span class="counter">75</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>React Js <span class="counter">70</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Mongo DB <span class="counter">75</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Vim Editor <span class="counter">95</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="skill_item">
                    <h4>Linux <span class="counter">75</span>%</h4>
                    <div class="progress_br">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
