
<section class="home_gallery_area p_120">
<div class="container">
<div class="main_title">
    <h2>Our Latest Featured Projects</h2>
    <p>Get your project completed as early you want.</p>
</div>
</div>
<div class="container">
<div class="gallery_f_inner row imageGallery1">
    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
        <div class="h_gallery_item">
            <div class="g_img_item">
                <img class="img-fluid" src="img/gallery/3339.jpg" alt="">
                <a class="light" href="img/gallery/project-1.jpg"><img src="img/gallery/icon.png" alt=""></a>
            </div>
            <div class="g_item_text">
                <h4>Website Development</h4>
                <p>Client Project</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
        <div class="h_gallery_item">
            <div class="g_img_item">
                <img class="img-fluid" src="img/gallery/21034578.jpg" alt="">
                <a class="light" href="img/gallery/project-2.jpg"><img src="img/gallery/icon.png" alt=""></a>
            </div>
            <div class="g_item_text">
                <h4>Software Development</h4>
                <p>Client Project</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
        <div class="h_gallery_item">
            <div class="g_img_item">
                <img class="img-fluid" src="img/gallery/Digital marketing team constructing landing or home page.jpg" alt="">
                <a class="light" href="img/gallery/project-3.jpg"><img src="img/gallery/icon.png" alt=""></a>
            </div>
            <div class="g_item_text">
                <h4>Landing Page Design</h4>
                <p>Client Project</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
        <div class="h_gallery_item">
            <div class="g_img_item">
                <img class="img-fluid" src="img/gallery/4677922.jpg" alt="">
                <a class="light" href="img/gallery/project-4.jpg"><img src="img/gallery/icon.png" alt=""></a>
            </div>
            <div class="g_item_text">
                <h4>Professional Website design</h4>
                <p>Client Project</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
        <div class="h_gallery_item">
            <div class="g_img_item">
                <img class="img-fluid" src="img/gallery/5329292.jpg" alt="">
                <a class="light" href="img/gallery/project-5.jpg"><img src="img/gallery/icon.png" alt=""></a>
            </div>
            <div class="g_item_text">
                <h4>Portfolio Website</h4>
                <p>Client Project</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
        <div class="h_gallery_item">
            <div class="g_img_item">
                <img class="img-fluid" src="img/gallery/6156.jpg" alt="">
                <a class="light" href="img/gallery/project-6.jpg"><img src="img/gallery/icon.png" alt=""></a>
            </div>
            <div class="g_item_text">
                <h4>3D Logo Design</h4>
                <p>Client Project</p>
            </div>
        </div>
    </div>
</div>
<div class="more_btn">
    <a class="main_btn" href="#">Load More Items</a>
</div>
</div>
</section>
